<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>pfc.servlet.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Registro</servlet-name>
  	<display-name>Registro</display-name>
  	<description></description>
  	<servlet-class>pfc.servlet.Registro</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NewMenu</servlet-name>
  	<display-name>NewMenu</display-name>
  	<description></description>
  	<servlet-class>pfc.servlet.NewMenu</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SendMenus</servlet-name>
  	<display-name>SendMenus</display-name>
  	<description></description>
  	<servlet-class>pfc.servlet.SendMenus</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RestaurantesCercanos</servlet-name>
  	<display-name>RestaurantesCercanos</display-name>
  	<description></description>
  	<servlet-class>pfc.servlet.RestaurantesCercanos</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deleteMenu</servlet-name>
  	<display-name>deleteMenu</display-name>
  	<description></description>
  	<servlet-class>pfc.servlet.deleteMenu</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteMenu</servlet-name>
  	<display-name>DeleteMenu</display-name>
  	<description></description>
  	<servlet-class>pfc.servlet.DeleteMenu</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteUser</servlet-name>
  	<display-name>DeleteUser</display-name>
  	<description></description>
  	<servlet-class>pfc.servlet.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Registro</servlet-name>
  	<url-pattern>/Registro</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NewMenu</servlet-name>
  	<url-pattern>/NewMenu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SendMenus</servlet-name>
  	<url-pattern>/SendMenus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RestaurantesCercanos</servlet-name>
  	<url-pattern>/RestaurantesCercanos</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deleteMenu</servlet-name>
  	<url-pattern>/deleteMenu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteMenu</servlet-name>
  	<url-pattern>/DeleteMenu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteUser</servlet-name>
  	<url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
</web-app>
