<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
<property name="hibernate.dialect">org.hibernate.dialect.MariaDBDialect</property>
<property name="hibernate.connection.driver_class">org.mariadb.jdbc.Driver</property>
<property name="hibernate.connection.url">jdbc:mariadb://127.0.0.1:3306/acisedb</property>
<property name="hibernate.connection.username">admin</property>
<property name="hibernate.connection.password">acise</property>

<property name="show_sql">true</property>
<property name="hibernate.hbm2ddl.auto">update</property>

<!--Mapeos -->

<mapping resource="entidad/Area.hbm.xml"/>
<mapping resource="entidad/Enunciado.hbm.xml"/>
<mapping resource="entidad/Examen.hbm.xml"/>
<mapping resource="entidad/Respuesta.hbm.xml"/>
<mapping resource="entidad/Tag.hbm.xml"/>
<mapping resource="entidad/Usuario.hbm.xml"/>

</session-factory>
</hibernate-configuration>